@model VMUrunler;
@{
  ViewData["Title"] = "Menu";

  List<Urunler> UrunlerListe = null;
  if (Model != null)
  {
    UrunlerListe = Model.list_Urunler;
  }
}
<style>
  .notification {
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    font-size: 16px;
  }
</style>


<section id="menu" class="menu section">

  <!-- Section Title -->
  <div class="container section-title aos-init aos-animate" data-aos="fade-up">
    <p><span class="description-title">Menümüz</span></p>
  </div><!-- End Section Title -->

  <div class="container">

    <ul class="nav nav-tabs d-flex justify-content-center aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">

      <li class="nav-item">
        <a class="nav-link active show" data-bs-toggle="tab" data-bs-target="#menu-starters">
          <h4>Kahvaltı</h4>
        </a>
      </li><!-- End tab nav item -->

      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" data-bs-target="#menu-breakfast">
          <h4>Yöresel Yemekler</h4>
        </a><!-- End tab nav item -->

      </li>
      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" data-bs-target="#menu-lunch">
          <h4>Kebap Çeşitleri</h4>
        </a>
      </li><!-- End tab nav item -->

      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" data-bs-target="#menu-desserts">
          <h4>Tatlılar</h4>
        </a>
      </li><!-- End tab nav item -->
      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" data-bs-target="#menu-drink">
          <h4>İçecekler</h4>
        </a>
      </li><!-- End tab nav item -->

    </ul>



    <div class="tab-content aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">

      <div class="tab-pane fade active show" id="menu-starters">

        <div class="tab-header text-center">
          <p>Menü</p>
          <h3>Kahvaltı</h3>
        </div>
        <div class="row gy-5">
          @foreach (var x in UrunlerListe)
          {

            <div class="col-lg-4 menu-item" data-id="1">
              <a href="@x.UrunGorseliUrl" class="glightbox"><img src="@x.UrunGorseliUrl" class="menu-img img-fluid"
                  alt=""></a>
              <h4><a href="/Home/SiparisDetay/@x.UrunId">@x.UrunAdi</a></h4>
              @* <p class="ingredients">
                @x.Aciklama
              </p>
              <div class="sepet">
                <p class="price">
                  @x.Fiyat <span>₺</span>
                </p>
                <button class="add-to-cart-btn">Sepete Ekle</button>
              </div> *@

            </div>

            <!-- Menu Item -->

          }
        </div>
      </div><!-- End Starter Menu Content -->
    </div>

  </div>

</section>

<!-- /Menu Section -->
